<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YumYum Apps</title>
    <link rel="icon" href="./favicon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="manifest" href="./app.webmanifest" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#main-content" class="skip-to-content">Skip to Content</a>

    <!-- Start: Header -->
    <header class="app-bar">
      <div class="app-bar__container">
        <button
          aria-label="Toggle Navigation"
          class="menu-toggle"
          aria-expanded="false"
        >
          <span class="menu-icon"></span>
        </button>
        <a href="/" class="app-bar__logo">YumYum Apps</a>
        <nav class="app-bar__nav" aria-label="Main Navigation">
          <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li>
              <a
                href="https://www.linkedin.com/in/fadhlansulistiyo/"
                target="_blank"
                >About Us</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- End: Header -->

    <!-- Start: Main content -->
    <main id="main-content"></main>
    <!-- End: Main content -->

    <footer class="app-footer">
      <div class="app-footer__container">
        <p class="app-footer__text">
          Copyright © 2025 YumYum Apps. All rights reserved.
        </p>
        <nav class="app-footer__nav">
          <ul class="footer-nav-list">
            <li><a href="#about">About</a></li>
            <li><a href="#privacy">Privacy Policy</a></li>
            <li><a href="#terms">Terms of Service</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
